
@{
    ViewData["Title"] = "Index";
}

<form method="post" enctype="multipart/form-data">
    
<input type="file" name="file" class="form-control" />
<br />
<button class="btn btn-dark">Yükle</button>
</form>

